In [1]:
import numpy as np
import pandas as pd
from sklearn import ensemble
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix
import joblib

In [2]:
df = pd.read_csv(r"C:\Users\Puneetraj Makhija\Desktop\ZEUS\DiseasePrediction\data\kidney.csv")

In [3]:
df.head()

,id,age,bp,sg,al,su,rbc,pc,pcc,classification
0,0,48.0,80.0,1.020,1.0,0.0,NaN,normal,notpresent,ckd
1,1,7.0,50.0,1.020,4.0,0.0,NaN,normal,notpresent,ckd
2,2,62.0,80.0,1.010,2.0,3.0,normal,normal,notpresent,ckd
3,3,48.0,70.0,1.005,4.0,0.0,normal,abnormal,present,ckd
4,4,51.0,80.0,1.010,2.0,0.0,normal,normal,notpresent,ckd

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 10 columns):
id                400 non-null int64
age               391 non-null float64
bp                388 non-null float64
sg                353 non-null float64
al                354 non-null float64
su                351 non-null float64
rbc               248 non-null object
pc                335 non-null object
pcc               396 non-null object
classification    400 non-null object
dtypes: float64(5), int64(1), object(4)
memory usage: 31.4+ KB

In [5]:
df[['rbc','pc']] = df[['rbc','pc']].replace(to_replace={'abnormal':1,'normal':0})
df[['pcc']] = df[['pcc']].replace(to_replace={'present':1,'notpresent':0})
df['classification'] = df['classification'].replace(to_replace={'ckd':1.0,'ckd\t':1.0,'notckd':0.0,'no':0.0})

In [6]:
df["classification"]=df["classification"].astype(int)

In [7]:
df.drop('id',axis=1,inplace=True)
df = df.dropna(axis=0)

In [8]:
df.columns

Index(['age', 'bp', 'sg', 'al', 'su', 'rbc', 'pc', 'pcc', 'classification'], dtype='object')

In [9]:
feature_names = ['age', 'bp', 'sg', 'al', 'su', 'rbc', 'pc', 'pcc', 'classification']
training_features = df[feature_names]

In [10]:
numeric_features = ['age', 'bp', 'sg', 'al', 'su', 'rbc', 'pc', 'pcc']

In [11]:
from sklearn.preprocessing import StandardScaler
ss= StandardScaler()
ss.fit(training_features[numeric_features])
training_features[numeric_features] = ss.transform(training_features[numeric_features])
print(training_features)

          age        bp        sg        al        su       rbc        pc  \
2    0.761790  0.434399 -1.572187  0.706346  2.962352 -0.476474 -0.558694
3   -0.097624 -0.423066 -2.446909  2.112843 -0.344798 -0.476474  1.789889
4    0.086536  0.434399 -1.572187  0.706346 -0.344798 -0.476474 -0.558694
8    0.147923  2.149329 -0.697465  1.409595 -0.344798 -0.476474  1.789889
9    0.209310  1.291864  0.177256  0.706346 -0.344798  2.098752  1.789889
..        ...       ...       ...       ...       ...       ...       ...
395  0.332083  0.434399  0.177256 -0.700150 -0.344798 -0.476474 -0.558694
396 -0.465944 -0.423066  1.051978 -0.700150 -0.344798 -0.476474 -0.558694
397 -2.307546  0.434399  0.177256 -0.700150 -0.344798 -0.476474 -0.558694
398 -2.000612 -1.280531  1.051978 -0.700150 -0.344798 -0.476474 -0.558694
399  0.516243  0.434399  1.051978 -0.700150 -0.344798 -0.476474 -0.558694

          pcc  classification
2   -0.375105               1
3    2.665923               1
4   -0.375105               1
8    2.665923               1
9    2.665923               1
..        ...             ...
395 -0.375105               0
396 -0.375105               0
397 -0.375105               0
398 -0.375105               0
399 -0.375105               0

[227 rows x 9 columns]

In [12]:
training_features.columns

Index(['age', 'bp', 'sg', 'al', 'su', 'rbc', 'pc', 'pcc', 'classification'], dtype='object')

In [13]:
X=training_features[[ 'bp', 'sg', 'al', 'su', 'rbc', 'pc', 'pcc']]
y=training_features[ 'classification']

In [14]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25, random_state = 0)

from sklearn.ensemble import RandomForestClassifier
classifier = RandomForestClassifier(n_estimators=20,random_state=0)
classifier.fit(X_train,y_train)
y_pred = classifier.predict(X_test)

from sklearn.metrics import classification_report, confusion_matrix, accuracy_score

print(confusion_matrix(y_test,y_pred))  
print(classification_report(y_test,y_pred))  
print(accuracy_score(y_test, y_pred))

[[39  0]
 [ 0 18]]
              precision    recall  f1-score   support

           0       1.00      1.00      1.00        39
           1       1.00      1.00      1.00        18

    accuracy                           1.00        57
   macro avg       1.00      1.00      1.00        57
weighted avg       1.00      1.00      1.00        57

1.0

In [15]:
import joblib
joblib.dump(classifier,r"C:\Users\Puneetraj Makhija\Desktop\ZEUS\DiseasePrediction\Models\kidney_model.pkl")

['C:\\Users\\Puneetraj Makhija\\Desktop\\ZEUS\\DiseasePrediction\\Models\\kidney_model.pkl']